html{
  direction: rtl;
    
}
*{
    font-family: sans-serif;
    color: wheat;
    padding: 10px;
}
body{
    background: linear-gradient(135deg,#1e1e2f, #3a3a5f);

   font-size: 1vh;
   
}
body{
    @media(max-width:768){
    max-width: 100%;
    padding: 10px;
    font-size: 5vh;
 }
}
  
body{
    @media(min-width:1200px) {
        max-width: 1200px;
    font-size: 5vh;
    }
}
body{
    @media(max-width: 500px){
        max-width:100%;
        font-size: 4vh;
    }
}
span{
    
    font-weight: bold;
    margin: 17px;
    color: white
}
h2{
   text-align: center;
   color:black;
   box-shadow:10px 10px 5px rgba(0, 0, 0, 0.5);
   background: beige;
   border-radius: 50px;
}
.anm{
    width: 150px;
    color: black;
   display: block;
   height: 30px;
   border-radius: 50px;
   box-shadow: 5px 5px 2px rgb(0, 0, 0);
   border: none;
   font-weight: bold;
   display:flexbox;
   position: relative;
   right: 390px;
   
}
#result{
text-align: center;
border: solid;
box-shadow: 5px 5px rgb(0, 0, 0);
width: 100px;
position: relative;
right: 400px;
}
h3{
   display:list-item;
   
}

